@using DojoSurvey.Models
@model Survey


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Success</title>
</head>
<body>
    <h3>Submitted Info:</h3>
    <p>Name: @Model.name</p>
    <br>
    <p>Dojo Location: @Model.dojo_location</p>
    <br>
    <p>Favorite Language: @Model.fav_lang</p>
    <br>
    <p>Comment: @Model.comment</p>
</body>
</html>