<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Success</title>
</head>
<body>
    <h3>Submitted Info:</h3>
    <p>Name: @ViewBag.Name</p>
    <br>
    <p>Dojo Location: @ViewBag.dojo_location</p>
    <br>
    <p>Favorite Language: @ViewBag.fav_lang</p>
    <br>
    <p>Comment: @ViewBag.comment</p>
</body>
</html>